.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}

.invitation-modal {
  font-family: 'Press Start 2P', cursive;
  background-color: #6B4F4B;
  border: 4px solid #EFE2BA;
  box-shadow: 12px 12px 0px #4a2c2a;
  color: #FFF8DC;
  padding: 20px;
  width: 350px;
  text-align: center;
}

.modal-header {
  font-size: 16px;
  padding-bottom: 15px;
  border-bottom: 2px solid #EFE2BA;
  margin-bottom: 15px;
}

.modal-body {
  font-size: 12px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.modal-body strong {
  color: #aaeaff;
}

.modal-actions button {
  font-family: 'Press Start 2P', cursive;
  color: #FFF8DC;
  border: 2px solid #EFE2BA;
  padding: 10px 15px;
  margin: 0 10px;
  cursor: pointer;
  font-size: 12px;
  box-shadow: 4px 4px 0px #4a2c2a;
  transition: all 0.05s ease-out;
}

.modal-actions button:active {
  box-shadow: 1px 1px 0px #4a2c2a;
  transform: translate(3px, 3px);
}

.accept-btn {
  background-color: #7A9E7E;
}

.reject-btn {
  background-color: #A95C68;
}

